@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
 body {
  color:white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color:black;

}


div[class*=box] {
    height: 33.33%;
    width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.naslov
{
text-align: left;
  position: absolute;
  top: 25%;
  left: 18%;
  transform: translate(-50%, -50%);
  font-size:30px;
  color: #E6E6E6;
}


.dark-mode {
  background-color:#d6d4d3;
  color: black;
  width:auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 700px; 
  background-position: center; 
  background-repeat: no-repeat;


}


#slika {
  
  width:100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 800px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  max-width:100%;
  height:auto;
  

}



.box-2 { background-color: #2E2E2E; 

}


.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}
.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
}

button{
   width:200px;
  padding:8px;
  color:white;
  border:1px solid #fff;
  text-align:center;
  outline:none;
  text-decoration: none;
  background-color:#2E2E2E;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.btn-two button {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}



.vertical-menu
{
	width:200px;
	height:150px;
	overflow-y:auto;
	position: absolute;
 	top: 40%;
    left: 18%;
    transform: translate(-50%, -50%);
}
.vertical-menu a{

	color:white;
	display:block;
	padding:12px;
	text-decoration:none;
	text-align:center;

}
.vertical-menu a:hover {
	background-color: #A30A28;
	color:white;

}
.media{

	width:100%;
	text-align:center;
	word-spacing: 10px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.object1
{
text-align: left;
  position: absolute;
  top: 127%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size:14px;
  color: #E6E6E6;
}
.object2
{
text-align: left;
  position: absolute;
  top: 127%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size:14px;
  color: #E6E6E6;

}
.object3
{
text-align: left;
  position: absolute;
  top: 127%;
  left: 69%;
  transform: translate(-50%, -50%);
  font-size:14px;
  color: #E6E6E6;

}


.ghost-button{
  display: inline-block;
  width:200px;
  padding:8px;
  color:#fff;
  border:1px solid #fff;
  text-align:center;
  outline:none;
  text-decoration: none;

}
.ghost-button:hover,.ghost-button:active
{
  border: 0px;
  color #000;
}
footer{
  display:block;
  color:grey;
  background-color: #2E2E2E;
  position:relative;
  bottom:0px;
  width:100%;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 20px;
  outline:none;
  text-decoration: none;
  letter-spacing: 1px
} 
.email{

  position:relative;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 100px;
    font-size: 20px;
}
  

}
h2{
  text-align: center;
  font-size:10vw;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=submit] {
  display: inline-block;
  width:200px;
  padding:8px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-align:center;
  font-size:16px;


}
input[type=submit]:hover {
 border: 2px solid black;
  color #000;
}
input[type=email]{
width: 360px;
height:30px;
}

 {box-sizing:border-box}

/*Slideshow*/
}
.slidediv {
  width:100%;
  text-align:center;
  word-spacing: 10px;
  background-color: #2E2E2E;
}
.slideshow-container {
  background-color: #2E2E2E;
  width:100%;
  position: relative;
  margin: auto;

}

i {
  position: relative;
  display: block;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}

i:before, i:after {
  content: '⥪';
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  background: dodgerblue;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

i:after {
  content: '⥭';
  left: auto;
  right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
input {
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(100%);
  transition: transform ease-in-out 400ms;
  z-index: 1;
}

input:focus {
  outline: none;
}

input:after {
  content: attr(title);
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 5px;
}

input:not(checked):before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 50%;
  left: calc(-100% + 1rem);
}

input:checked:before {
  display: none;
  left: 1rem;
}

input:checked {
  transform: translateX(0);
  pointer-event: none;
  z-index: 0;
  box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
  left: -3rem;
}

input:checked + input ~ input:before {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* unvisited link */
a:link {
  color: pink;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: white;
}

#okCookie{
  background-color:#F2F2F2;
  color:#333333;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:20px;
  font-family:sans-serif;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  border-top:1px solid #ccc;
  z-index:10;
}

#okCookie p{margin:0 0 10px 0; float:left; padding:5px 0px;}

#okCookie #okClose, #okCookie #okCprivacy{
  padding:5px 20px;
  float:right;
  margin-left:10px;
  text-decoration:none;
  border-radius:3px;
  color:white;
}

#okCookie #okClose{
  background-color:#c22144;
  text-shadow:0px 1px 1px #507F2B;
  box-shadow:inset 0px -1px 1px #507F2B;
}

#okCookie #okClose:hover{background-color:#42ce55}

#okCookie #okCprivacy{
  background-color:#8D9499;
  text-shadow:0px 1px 1px #63666B;
  box-shadow:inset 0px -1px 1px #63666B;
}

#okCookie #okCprivacy:hover{background-color:#a0a8ae}

.okcBeginAnimate{
    -webkit-animation: myfirst 2s; 
    animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
} 

@media only screen and (min-width:768px) {
  #slika {
  
  width:100%;
  margin:0 auto;
} 

.naslov
{
text-align: top;
  position: absolute;
  top: 0;
  left: auto;
  font-size:15px;
  color: #E6E6E6;
  transform: 0;
}
.vertical-menu
{
  
  display:inline;
  width:200px;
  height:150px;
  overflow-y:auto;
  position: absolute;
  top: 40%;
    left: 18%;
    transform: 0;
}
.vertical-menu a{

  display:inline;
  color:white;
  display:block;
  padding:12px;
  text-decoration:none;
  text-align:center;

}
.vertical-menu a:hover {
  display:inline;
  background-color: #A30A28;
  color:white;

}
}

    @media only screen and (min-width : 320px) {
.naslov
{
text-align: top;
  position: absolute;
  top: 0;
  left: auto;
  font-size:10px;
  color: #E6E6E6;
  transform: 0;
}
.vertical-menu
{
  
  display:inline;
  width:200px;
  height:150px;
  overflow-y:auto;
  position: absolute;
  top: 40%;
    left: 18%;
    transform: 0;
}
.vertical-menu a{

  display:inline;
  color:white;
  display:block;
  padding:12px;
  text-decoration:none;
  text-align:center;

}
.vertical-menu a:hover {
  display:inline;
  background-color: #A30A28;
  color:white;
    }
}
